$white: #fff;
$black: #000000;
$gray2: #4f4f4f;
$gray3: #828282;
$gray4: #bdbdbd;
$gray6: #f2f2f2;
$red: #eb5757;

$font-sizes: (
    "h1": 24px,
    "menu-navbar": 16px,
    "card-title": 16px,
    "button": 14px,
    "card-info": 13px,
    "footer": 22px,
    "footer-info": 14px,
);

body {
    width: 100vw;
}

.wrapper {
    display: block;
    max-width: 1060px;
    margin: 70px auto 135px;
    background-color: $gray6;
    padding: 0 28px;
    border: 2px solid $gray4;
    border-radius: 10px;
}

.header {
    margin-top: 41px;
}

.text-header {
    text-align: center;
    margin: 0 auto;
    width: 60%;
    padding-bottom: 37px;
    border-bottom: 2px solid $gray4;
    font : {
        size: map-get($font-sizes, "h1");
        weight: 700;
    }
}

.navbar {
    padding: 28px 0;
    ul {
        display: flex;
        justify-content: center;
        gap: 60px;
        white-space: nowrap;
        .menu-navbar {
            font : {
                size: map-get($font-sizes, "menu-navbar");
                weight: 500;
            }
            color: $gray3;
        }
        .menu-navbar.clicked {
            color: $black;
            font-weight: 900;
        }
    }
}

.card-section {
    margin: 0 auto;
    background-color: $white;
    padding: 26px 27px 30px 27px;
    margin-bottom: 31px;
    border: 2px solid $gray4;
    border-radius: 10px;
    max-width: 1060px;
    ul {
        display: grid;
        grid-template-columns: repeat(4, calc((100% - 69px) / 4));
        column-gap: 23px;
        row-gap: 24px;
    }
}

.card {
    width: 100%;
    padding-top: 19px;
    border: 1px solid $gray4;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    .contents-area {
        padding: 0 20px;
        .container-img {
            position: relative;
            overflow: hidden;
            height: 0;
            margin-bottom: 11px;
            padding-top: 139%;
            background-color: $gray4;
            border-radius: 10px;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
            .card-img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .card-title {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 12px;
            white-space: nowrap;
            font-size: map-get($font-sizes, "card-title");
            font-weight: 900;
        }
        .card-info {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 18px;
        }
    }
    .button-area {
        display: flex;
        button {
            width: 100%;
            padding: 10px 0 11px 0;
            line-height: 20.27px;
            border: none;
            border-top: 1px solid $gray4;
            cursor: pointer;
            &.button-preview {
                border-left: 1px solid $gray4;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 3px;
                &::before {
                    content: "";
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    background-image: url(./images/영화목록페이지/icon_play.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
        }
    }
}

.card-info dl {
    display: flex;
    gap: 5px;
    width: 100%;
    white-space: nowrap;
    font-size: map-get($font-sizes, "card-info");
    margin-bottom: 5px;
    dt {
        color: $gray3;
    }
    dd {
        overflow: hidden;
        text-overflow: ellipsis;
        &.card-star_rating {
            display: flex;
            align-items: flex-start;
            gap: 4px;
            &::before {
                content: "";
                width: 14px;
                height: 14px;
                display: inline-block;
                background-image: url(./images/star_rating.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
    }
    &:nth-child(1) {
        width: 60%;
    }
    &:nth-child(2) {
        width: 40%;
        justify-content: flex-end;
    }
    &:last-child {
        margin: 0;
    }
}

.footer {
    padding: 53px 0 38px 0;
    background-color: $gray6;
    .wrapper-footer {
        width: 70%;
        margin: 0 auto;
    }
    .logo-footer {
        font : {
            size: map-get($font-sizes, "footer");
            weight: 700;
        }
    }
    .container-sns {
        float: right;
        display: flex;
        gap: 25px;
        justify-content: flex-end;
        .link-sns {
            width: 20px;
            height: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        @for $sns from 1 through 3 {
            .link-sns.sns-#{$sns} {
                background-image: url("./images/SNS_아이콘/sns-#{$sns}.svg");
            }
        }
    }
    .container-info-footer {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding-top: 36px;
        margin-top: 42px;
        border-top: 1px solid $gray4;
        .wrapper-contents dl::before {
            content: "|";
            display: inline-block;
            padding: 0 5px;
        }
        dl {
            display: flex;
            color: $gray2;
            font-size: map-get($font-sizes, "footer-info");
            dt {
                padding-right: 5px;
            }
        }
        .contents-info-footer {
            white-space: nowrap;
            display: inline-block;
            .bold {
                font-weight: 700;
            }
            &:first-child dl::before {
                display: none;
            }
        }
    }
}

@media (max-width: 1060px) {
    .wrapper {
        margin: 0;
        background-color: $white;
        border: none;
    }
    .card-section ul {
        grid-template-columns: repeat(3, calc((100% - 46px) / 3));
    }
}

@media (max-width: 780px) {
    .card-section ul {
        grid-template-columns: repeat(2, calc((100% - 23px) / 2));
    }
}

@media (max-width: 570px) {
    .text-header {
        width: 100%;
    }
    .navbar ul {
        gap: 0;
        justify-content: space-between;
    }
    .card-section ul {
        grid-template-columns: repeat(1, 100%);
    }
    .footer {
        padding: 30px 0;
        .wrapper-footer {
            width: 80%;
        }
        .container-sns {
            float: none;
            justify-content: flex-start;
            margin-top: 10px;
        }
        .container-info-footer {
            padding-top: 15px;
            margin-top: 25px;
            .wrapper-contents dl::before {
                display: none;
            }
            .contents-info-footer {
                display: block;
                margin-bottom: 4px;
            }
        }
    }
}
